.imgbreak{
	height:8px;
	text-align:center;
}

.searchbreak{

	background:gray;
	border:5px solid black;
	border-radius:15px;
	
	width:100%;
	height:20px;
}

.container{
	border-style:solid;
	}

.tweet{

	background:#C0DEED;
	padding:10px;
	border:1px solid #a1a1a1;
	border-radius:15px;

	width:75%;
	height:100%;
	word-wrap:break-word;
	word-break:hyphenate;
	opacity:.8;

}

.popularwords{
	width:20%;
	height:20px;
	background:gray;
	float:right;
	border:1px solid blue;
}