h1 {
	color:gray;
	font-size:40px;
	font-style:italic;
	font-family:decorative;
	margin-left:30px;
	text-align:center;
}

#imgbreak{
	height:18px;
}

.searchbreak{
	background:#a1a1a1;
	margin-top:5px;
	text-align:center;
	width:100%;
	height:100%;
}

.container{
	float:left;
	width:100%;
	border:1px solid black;
}

.tweet{

	background:#C0DEED;
	padding:10px;
	border:1px solid #a1a1a1;
	border-radius:15px;
	margin-left:auto;
	margin-right:auto;
	width:95%;
	height:100%;
	word-wrap:break-word;
	word-break:hyphenate;
	opacity:.8;
}

.birdy{
	position:absolute;
	background:gray;
	border:2px solid #a1a1a1;
	border-radius:10px;
	height:40px;
}
#startBirdy{
	z-index:1;
	background:url(bird_blue_32.png) center center no-repeat;
}
#stopBirdy{
	z-index:6;
	background:url(bird_black_32_0.png) center center no-repeat;
	display:none;
}

#displaybar{
	font-family:Book Antiqua;
	color:#a1a1a1;
	font-weight:bold;
	text-align:center;
}

#tweets{
	border-style:dotted solid;
	border-width:3px;
	width:75%;
}

#popularwords{
	border-style:dotted solid;
	border-width:3px;
	width:20%;
	height:100%;
	background:#DDDDDD;
	padding:10px;
	text-align:center;
}
span{
	cursor:pointer;
	position:relative;
	top:11px;
	text-shadow:1px 1px #FFFFFF;
}