body{
	background:url(raindrop.jpg) repeat;
}

#topbar{
	background:#EEEEEE;
	margin-top:18px;
	min-width:800px;
	width:98%;
	height:60px;
	border:1px solid #BBBBBB;
	box-shadow:1px 1px 10px #AAAAAA;
	border-radius:15px;
	margin-left:auto;
	margin-right:auto;
}

.searchbreak{
	text-align:center;
	font-size:14px;
	width:100%;
	height:100%;
	color:gray;
}

#imgbreak{
	height:12px;
}

#tweetwords{
	float:left;
	width:78%;
	min-width:400px;
	margin-top:-22px;
}

.mainbody{
	min-width:500px;
	width:100%;
}

.tweettext{
	/*font-style:italic;*/
	text-align:left;
	margin-left:2px;
}

#userimg{
	 height:50px;
	 float:left;
	 margin:5px 15px 5px 5px;
}

.tweet{
	background:#FFCECE;
	font-family:Book Antiqua;
	box-shadow:1px 1px 10px 4px #EEEEEE;
	padding:10px 5px 5px 10px;
	/*border:1px solid #bbbbbb;*/
	border-radius:15px;
	margin-left:auto;
	margin-right:auto;
	width:95%;
	height:100%;
	word-wrap:break-word;
	word-break:hyphenate;
	opacity:.8;
	vertical-align:top;
}

.content{
	position:relative;
	float:left;
	width:65%;
	height:60px;
	vertical-align:middle;
}

.searchbar{
	position:relative;
	float:right;
	margin-right:60px;
	width:210px;
	height:40px;
}

.birdy{
	position:relative;
	float:right;
	margin-right:-260px;
	margin-top:20px;
	/*border:2px solid #BBBBBB;
	border-radius:10px;*/
	height:40px;
	font-family:Book Antiqua;
}
#startBirdy{
	z-index:1;
	background:url(bird_blue_32.png) center center no-repeat;
	margin-top:9px;
}
#stopBirdy{
	z-index:6;
	background:url(bird_black_32_0.png) center center no-repeat;
	display:none;
	margin-top:9px;
}

.displaybar{
	font-family:Book Antiqua;
	color:#a1a1a1;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	height:30px;
	/*border:1px solid black;*/
}
#db1{
	margin-top:22px;
}


#popularwords{
	float:right;
	font-family:Book Antiqua;
	border:1px #FFC0CB;
	border-radius:10px;
	width:20%;
	height:100%;
	text-align:center;
	color:black;
	padding:5px 5px 5px 5px;
	box-shadow:1px 1px 12px 5px #FAAFBE;/*FFC0CB*/
	margin-right:8px;
	background:#FFE4E1;/*#EFEFEF;*/
	overflow:auto;
}

.buna{
	margin-left:10px;
	height:20px;
	width:20px;
}

span{
	cursor:pointer;
	position:relative;
	top:11px;
	text-shadow:1px 1px #FFFFFF;
}
.popwords{
	margin-top:-10px;
	padding-bottom:14px;
	text-shadow:1px 1px #FFFFFF;
}